h1  {
    font-family: 'Unlock', cursive;
}
p   {
    font-family: 'Kumar One Outline', cursive;
    font-size:20px;
}
body{
    background-image:url("https://www.psdvault.com/img/2016/04/future-city-web-1075x605.jpg");
}
h1  {
    color: white;
}
p   {
    color:white;
}